$section-bgc: #F6F8FA;

%merriweather-lightitalic {
   font-family: 'Merriweather', serif;
   font-weight: 300;
   font-style: italic;
}

%montserrat-bold {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}

%montserrat-light {
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;
}

%os-bold {
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
}

%os-light {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

%os-regular {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
}

%os-semibold {
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
}

%raleway-bold {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
}